<!doctype html>
<head>
<title>Karen &lt;3 Blake</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="icon" 
      type="image/ico" 
      href="/img/favicon.ico">
<link href='//fonts.googleapis.com/css?family=Crimson+Text:400,400italic,600,600italic,700,700italic|Source+Sans+Pro:200,300,600' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet/less" type="text/css" href="/less/style.less" />
<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.7.1/less.min.js"></script>
</head>

<body data-spy="scroll" data-target=".navbar">
    <nav class="navbar navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class="active"><a class="heart-link" href="#heart">&amp;</a></li>
                <li><a href="#invitation">Invitation</a></li>
                <li><a href="#about-us">About Us</a></li>
                <li><a href="#ceremony">Ceremony</a></li>
                <li><a href="#reception">Reception</a></li>
                <li><a href="#celebration">Celebration</a></li>
                <li><a href="#travel">Travel</a></li>
                <li><a href="#faq">FAQ</a></li>
                <li><a href="#rsvp">RSVP</a></li>
                <li><a href="#photos">Photos</a></li>
              </ul>
            </div>
        </div>
    </nav>

    <section id="heart">
        <div class="jumbotron">
            <div class="container">
                <div class="header">
                    <h1><span id="name1">Karen</span> &amp; <span id="name2">Blake</span></h1>
                    <h2>3.14.15 &bull; Mill Valley, CA</h2>
                </div>
            </div>
        </div>
    </section>

    <section id="invitation">
        <span class="effianced">
            Karen Arla Rustad<br>
            <span class="ampersand">&amp;</span><br>
            Cortland Michael "Blake" Setlow
        </span>
        request the pleasure of your company<br>
        at their wedding<br>

        <span class="particulars">
            <span class="date">on Saturday, the fourteenth of March, 2015</span><br>
            <span class="time">at a quarter past five in the evening</span><br>
            <span class="venue">at <a href"http://www.mtnhomeinn.com/">Mountain Home Inn</a></span><br>
            <a href="http://goo.gl/maps/Rl8lK">810 Panoramic Hwy, Mill Valley, California</a>
        </span>
        Dinner, dancing, and revelry to follow<br>
        Black tie optional<br>
        <a href="#rsvp" title="RSVP">Répondez s'il vous plaît</a> before February 1
        <br>
    </section>

    <section id="about-us" class="highlightbg">
        <div class="container">
            <div class="row">
                <div class="col-md-6"><h2>About Us</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <img src="/public/img/bg.png" data-src="/public/img/philly-park.jpg" class="img-responsive">
                </div>
                <div class="col-md-6">
            <p>Cortland "Blake" Setlow first met Karen Rustad in October 2009 in Philadelphia, PA when he sat across the table from her at their mutual friend Asheesh's birthday party. Blake was visiting Asheesh and other Philly friends; Karen was working at Asheesh's startup-at-the-time, OpenHatch. After a raucous birthday dinner, Blake convinced Karen to walk back across Philadelphia with him rather than wait for the bus and lent her his coat. He thought she was cute. She thought he was interesting. Neither said so to the other person.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <img src="/public/img/bg.png" data-src="/public/img/harvard-snow.jpg" class="img-responsive">
                </div>
                <div class="col-md-6">
            <p>Two years later, Blake and Karen re-met at the MIT Mystery Hunt in January 2012. Their puzzle hunt team, the Manic Sages, won the Mystery Hunt that year. Blake and Karen kissed a whole lot and walked around snowy, quiet Cambridge together.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <img src="/public/img/bg.png" data-src="/public/img/berkeley.jpg" class="img-responsive">
                </div>
                <div class="col-md-6">
            <p>Blake and Karen started dating long-distance. Blake was in Maryland, studying physics at Johns Hopkins. Karen was in California, studying UX and web development at UC Berkeley. Every month or so Blake would fly across the country to visit.</p>
            <p>In June 2012, after Karen graduated with her master's degree and got her first programming job, Blake spent the summer with her. They ate a lot of burritos and sushi and hiked together in the beautiful Bay Area.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <img src="/public/img/bg.png" data-src="/public/img/murlagan.jpg" class="img-responsive">
                </div>
                <div class="col-md-6">
            <p>In June 2013, Blake decided to leave grad school and join Karen in California. He soon got a job programming embedded systems for a small startup in Mountain View. He and Karen moved together into an apartment in Silicon Valley.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <img src="/public/img/bg.png" data-src="/public/img/engagement.jpg" class="img-responsive">
                </div>
                <div class="col-md-6">
            <p>On January 11, 2014, Karen and Blake hiked up Buena Vista Park in foggy San Francisco. Karen asked Blake if he wanted to get married. Blake said yes.</p>
            <p>This story is ongoing.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="ceremony">
        <div class="container">
            <h2>Ceremony</h2>

            <p>The wedding ceremony will take place on the bay-facing deck at <a href="http://www.mtnhomeinn.com/">Mountain Home Inn</a> in <a href="http://goo.gl/maps/Rl8lK">Mill Valley, California</a>. If the weather is inclement, the ceremony will take place in the inn's Bay View Room.<p>

            <h3>Bride's attendants</h3>
                <ul>
                    <li><em>Asheesh Laroia</em> -- friend of the bride</li>
                    <li><em>Jenny Rustad</em> -- sister of the bride</li>
                    <li><em>Kathryn Herrera</em> -- cousin of the bride</li>
                    <li><em>Kristina Herrera</em> -- cousin of the bride</li>
                </ul>

            <h3>Groom's attendants</h3>
                <ul>
                    <li><em>Michael Stone</em> -- friend of the groom</li>
                    <li><em>Carson Setlow</em> -- sister of the groom</li>
                </ul>
        </div>
    </section>

    <section id="reception">
        <div class="container">
            <h2>Reception</h2>
            
            <p>The wedding reception will also take place at <a href="http://www.mtnhomeinn.com/">Mountain Home Inn</a>.</p>
        </div>
    </section>

    <section id="celebration">
        <div class="container">
            <h2>Celebration</h2>

            <p>On April 18, 2015, there will be a post-wedding celebration in Baltimore, Maryland.</p>
            
            <p>On May 30, 2015, there will be another post-wedding celebration at the Minnesota Arboretum in Chanhassen, Minnesota.</p>
        </div>
    </section>

    <section id="travel" class="highlightbg">
        <div class="container">
            <h2>Travel &amp; Lodging</h2>
            <p><a href="http://www.mtnhomeinn.com/your-stay/the-rooms">Mountain Home Inn</a> is a small inn, so we will have it all to ourselves for the wedding. We invite you to stay with us!</p>

            <div id="availability">
                <div class="row header-row">
                    <div class="col-xs-6">Room description</div>
                    <div class="col-xs-2">Price</div>
                    <div class="col-xs-2">Sleeps</div>
                    <div class="col-xs-2">Taken?</div>
                </div>
                <!-- <div class="row taken">
                    <div class="col-xs-6">#1, Canopy Room: Canopy king bed. Ample floor space. Fireplace. Bay view. Jacuzzi tub.</div>
                    <div class="col-xs-2">342.79</div>
                    <div class="col-xs-2">2+</div>
                    <div class="col-xs-2">X</div>
                </div>-->
                <div class="row">
                    <div class="col-xs-6">#2, Fireplace Guest: Queen bed. Large deck. Fireplace. Bay view. Jacuzzi tub.</div>
                    <div class="col-xs-2">242.79</div>
                    <div class="col-xs-2">2</div>
                    <div class="col-xs-2 email"><a href="mailto:wedding@zeromailer.com">Contact us</a></div>
                </div>
                <!--<div class="row taken">
                    <div class="col-xs-6">#3, Standard Guest Room: Queen bed. Large deck. Bay view. Jacuzzi tub.</div>
                    <div class="col-xs-2">192.79</div>
                    <div class="col-xs-2">2</div>
                    <div class="col-xs-1">X</div>
                </div>
                <div class="row taken">
                    <div class="col-xs-6">#4, Standard Guest Room: Queen bed. Large deck. Bay view. Jacuzzi tub.</div>
                    <div class="col-xs-2">192.79</div>
                    <div class="col-xs-2">2</div>
                    <div class="col-xs-2">X</div>
                </div>
                <div class="row">
                    <div class="col-xs-6">#5, Mountain View Suite: King bed. Fireplace. Bay view. Jacuzzi tub.</div>
                    <div class="col-xs-2">342.96</div>
                    <div class="col-xs-2">2</div>
                    <div class="col-xs-2 email"><a href="mailto:wedding@zeromailer.com">Contact us</a></div>
                    <div class="col-xs-1 dwolla">
                        <script
                          src="https://www.dwolla.com/scripts/button.min.js" class="dwolla_button" type="text/javascript"
                          data-key="iWphuAQ2PqoXXZIfz5iXwXgpd5i93FrfZYZwJ1Y7NTDvdCpeQd"
                          data-redirect="http://rustadsetlow.com"
                          data-label="Reserve room"
                          data-name="Karen and Blake's wedding lodging"
                          data-description="One night in a room at Mountain Home Inn"
                          data-amount="342.96"
                          data-tax="48.01"
                          data-guest-checkout="true"
                          data-type="simple"
                        >
                        </script>
                    </div>
                </div>
                <div class="row taken">
                    <div class="col-xs-6">#6, Redwoods Suite: King bed. Fireplace. Bay view. Jacuzzi tub.</div>
                    <div class="col-xs-2">312.79</div>
                    <div class="col-xs-2">2</div>
                    <div class="col-xs-2">X</div>
                </div> -->
                <div class="row">
                    <div class="col-xs-6">#7, Deluxe Fireplace Room: Queen bed. Fireplace. Bay view. Jacuzzi tub.</div>
                    <div class="col-xs-2">292.79</div>
                    <div class="col-xs-2">2</div>
                    <div class="col-xs-2 email"><a href="mailto:wedding@zeromailer.com">Contact us</a></div>
                    <div class="col-xs-1 dwolla">
                        <script
                          src="https://www.dwolla.com/scripts/button.min.js" class="dwolla_button" type="text/javascript"
                          data-key="iWphuAQ2PqoXXZIfz5iXwXgpd5i93FrfZYZwJ1Y7NTDvdCpeQd"
                          data-redirect="http://rustadsetlow.com"
                          data-label="Reserve room"
                          data-name="Karen and Blake's wedding lodging"
                          data-description="One night in a room at Mountain Home Inn"
                          data-amount="292.79"
                          data-tax="40.99"
                          data-guest-checkout="true"
                          data-type="simple"
                        >
                        </script>
                    </div>
                </div>
                <!-- <div class="row taken">
                    <div class="col-xs-6">#8, Deluxe Guest Room: Queen bed. Sofa Bed. Bay view. Jacuzzi tub.</div>
                    <div class="col-xs-2">242.79</div>
                    <div class="col-xs-2">2-4</div>
                    <div class="col-xs-1">X</div>
                </div>
                <div class="row taken">
                    <div class="col-xs-6">#9, Deluxe Guest Room: Queen bed. Sofa Bed. Bay view. Jacuzzi tub.</div>
                    <div class="col-xs-2">242.79</div>
                    <div class="col-xs-2">2-4</div>
                    <div class="col-xs-1">X</div>
                </div>
                <div class="row taken">
                    <div class="col-xs-6">#10, Bay Window Room: Queen bed. Large Terrace. Bay view. Jacuzzi tub.</div>
                    <div class="col-xs-2">292.79</div>
                    <div class="col-xs-2">2</div>
                    <div class="col-xs-1">X</div>
                </div> -->
                <br>
                <p>If you would like to stay on site at <a href="http://www.mtnhomeinn.com/your-stay/the-rooms">Mountain Home Inn</a> and get breakfast with us the morning after the wedding, please call or <a href="mailto:wedding@zeromailer.com">email us</a>.</p>
            </div>

            <h3>Other lodging</h3>
            <ul>
                <li><a href="https://www.airbnb.com/s/Mill-Valley--CA--United-States?checkin=03%2F13%2F2015&checkout=03%2F15%2F2015&guests=2&room_types%5B%5D=Entire+home%2Fapt&room_types%5B%5D=Private+room&price_max=150&sw_lat=37.823087925764355&sw_lng=-122.64056920021204&ne_lat=37.957013721151164&ne_lng=-122.46684788673548&search_by_map=true&zoom=12">Airbnb</a> &mdash; $80+</li>
                <li><a href="http://www.marinhotels.com/mill-valley-inn/home">Mill Valley Inn</a>, Mill Valley, CA &mdash; $299+ </li>
                <li><a href="https://www.kayak.com/hotels/Courtyard-San-Francisco-Larkspur-LandingMarin-County,Mill-Valley,CA-c25848-h6665-details/">Marriott Courtyard Larkspur Landing</a>, Larkspur, CA &mdash; $160+</li>
            </ul>
            <h3>Transit</h3>
            <p>The nearest airport to the wedding venue is San Francisco International (SFO). Oakland International (OAK) is also an option.</p>
            <p>Public transit to the venue is difficult; we recommend that you either rent a car or, if you have a smartphone, take a rideshare or taxi with <a href="https://www.lyft.com">Lyft</a> or <a href="http://flywheel.com/">Flywheel</a>. Parking at the hotel is extremely limited, so we strongly encourage taxiing and carpooling with other guests.</p>
        </div>
    </section>

    <section id="faq">
        <div class="container">
            <h2>Frequently Asked Questions</h2>

            <p id="weather" class="q">What is the weather like in the Bay Area in March?</p>
            <p>It depends. March is the tail end of the rainy season for us, so it is likely to be cloudy, windy, and cool. However, depending on how much of a drought we are in next year, it could be sunny and warm, or it could be cold and rainy. Also note that the weather can vary wildly between different parts of the Bay Area&mdash;even within Marin County, it can be 80 degrees inland while areas near the ocean are in the 50s. The temperature also tends to drop quickly after sundown.</p>
            <p><a href="http://www.wunderground.com/cgi-bin/findweather/getForecast?query=37.9278,-122.587&sp=MMDEC1">Please check the weather forecast before you pack</a> and pack some layers. A coat or warm sweater for after night falls is a very good idea.</p>

            <p id="what-to-wear" class="q">What is the dress code?</p>
            <p>Black tie optional.</p>

            <p id="black-tie-optional" class="q">What does "black tie optional" mean?</p>
            <p>According to <a href="http://www.emilypost.com/everyday-manners/your-personal-image/69-attire-guide-beach-casual-to-white-tie-">Emily Post</a>, "Black tie optional" calls for tuxedos, suits, evening gowns, cocktail dresses, or dressy separates.</p>

            <div id="registry">
            <p class='q'>Where are you registered?</p>
            <p>We have a Wanderable honeymoon registry at <a href="https://wanderable.com/hm/rustadsetlow">https://wanderable.com/hm/rustadsetlow</a>. We have also registered with the following consumer retail outlets:</p>
            <ul>
                <li><a href="http://www.amazon.com/registry/wedding/34AEYVSMN92ZE">Amazon</a></li>
                <li><a href="http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?registryId=541183832&eventType=Wedding">Bed Bath and Beyond</a></li>
            </ul>
            </div>

            <p class="q">I've got a question not answered here!</p>
            <p>Please contact Karen and Blake at <a href="mailto:wedding@zeromailer.com">wedding@zeromailer.com</a>.</p>
        </div>
    </section>

    <section id="rsvp" class="highlightbg">
        <div class="container">
            <h2>RSVP</h2>
            <div class="row">

                <div id="rsvp-form" class="col-md-8">
                </div>

                <div id="login" class="col-md-6 hidden">
                    <form class="form form-horizontal" role="form">
                      <div class="form-group">
                        <label for="inputCode" class="col-sm-4 control-label">Please log in:</label>
                        <div class="col-sm-8">
                          <input type="password" class="form-control" id="input-code" name="input-code" placeholder="Type in your code here">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8">
                          <button type="submit" class="btn btn-default btn-lg">Sign in</button>
                        </div>
                      </div>
                      <div id="error" class="hidden">
                        <div class="alert alert-danger"><small>I'm sorry, but that wasn't a valid code.</small></div>
                      </div>
                    </form>
                </div>

            </div>
        </div>
    </section>

    <section id="photos">
        <div class="container">
            <h2>Photos</h2>
            <div class="row">
                <div class="col-sm-2">
                    <img class="img-responsive" src="/public/img/bg.png" data-src="/public/img/photobooth.jpg">
                </div>
                <div class="col-sm-10">
                    <img class="img-responsive" src="/public/img/bg.png" data-src="/public/img/adoringly.jpg">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <img class="img-responsive" src="/public/img/bg.png" data-src="/public/img/gullfoss.jpg">
                </div>
                <div class="col-sm-6">
                    <img class="img-responsive" src="/public/img/bg.png" data-src="/public/img/solfar.jpg">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <img class="img-responsive" src="/public/img/bg.png" data-src="/public/img/piggyback.jpg">
                </div>
                <div class="col-sm-6">
                    <img class="img-responsive" src="/public/img/bg.png" data-src="/public/img/beachsmooch.jpg">
                </div>
            </div>
            <img class="img-responsive" src="/public/img/bg.png" data-src="/public/img/save-date-photo.jpg">
        </div>
    </section>

    <script src="/public/jquery.min.js"></script>
    <script src="/public/jquery.tmpl.min.js"></script>
    <script src="/public/jquery.unveil.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        if (Math.floor(Math.random() * 2) === 1) {
            $('#name1').text("Blake");
            $('#name2').text("Karen");
        }
        $("img").unveil(200, function(){
            $('[data-spy="scroll"]').each(function () {
              var $spy = $(this).scrollspy('refresh');
            });
        });
        if (location.search.split('book=')[1]) {
            $('.email').hide();
        } else {
            $('.dwolla').hide();
        }
    </script>

    <script type="text/html" id="rsvp-form-template" type="text/x-jquery-tmpl">
        {{if rsvpStatus}}
            <div class="alert alert-success">Thank you for responding!{{if rsvpStatus == 'no'}} We're sorry to hear you can't make it!{{/if}}{{if rsvpStatus == 'yes'}} We're excited to see you at our wedding. :){{/if}}</div>
        {{/if}}
        <form role="form" method="post" action="/rsvp/" class="form-horizontal">
            <input type="hidden" name="passcode" value="${passcode}"></input>
            <div class="radio">
              <label>
                <input type="radio" name="rsvp-options" value="yes" {{if rsvpStatus=='yes'}}checked{{/if}}>
                {{if attendees.length > 1}}We{{else}}I, ${attendees[0].name},{{/if}} accept with pleasure{{if attendees.length > 1}}:{{else}}.{{/if}}
              </label>
            </div>
            <div class="form-group attendee-list">
                {{each attendees}}
                <div class="checkbox {{if attendees.length <= 1}}hidden{{/if}}">
                    <label>
                      <input type="checkbox" name="attendee-${id}" {{if attending}}checked{{/if}}> 
                      {{if name }}${name}{{ else }}Guest name: <input type="text" class="form-control"></input>{{/if}}
                    </label>
                </div>
                {{/each}}
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="rsvp-options" value="no" {{if rsvpStatus=='no'}}checked{{/if}}>{{if attendees.length > 1}}We{{else}}I, ${attendees[0].name},{{/if}} regretfully decline.
              </label>
            </div>
            <br>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="carpooling" {{if carpooling || !!!rsvpStatus}}checked{{/if}}></input> Please add {{if attendees.length > 1}}us{{else}}me{{/if}} to the guest email list to coordinate carpooling and/or lodging with other guests.
                </label>
            </div>
            <div id="fav-song" class="{{if rsvpStatus=='no'}}hidden{{/if}}">
                <br>
                <label for="fav-song"  class="control-label">Song request?</label>
                <input type="text" class="form-control" name="fav-song" placeholder="What song do you solemnly pledge to dance to?" value="${favSong}"></input>
            </div>
            <br>
            <label for="comments" class="control-label">Comments:</label>
            <textarea class="form-control" name="comments" rows="3" placeholder="Food allergies or requirements, anything else you want us to know">${comments}</textarea>
            <br>
            <button type="submit" class="btn btn-default btn-lg">Submit</button>
        </form>
    </script>

    <script src="/js/marriage.js"></script>
</body>
